/* Підключаємо шрифт Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* Скидання стандартних стилів браузера */
@import "clear.css";



body 									{ font-family: 'Open Sans', sans-serif; font-size: 14px; color: #677079; background: #eae9f1; }
a 										{ text-decoration: none; color: #5d7189; }
a:hover 								{ color: #d9400b; }
.w1260 									{ width: 1260px; margin: 0 auto; }
.w1160 									{ width: 1160px; }
.fleft 									{ float: left; }
.fright 								{ float: right; }
.clear 									{ height: 0; font-size: 0; overflow: hidden; clear: both; }
header 									{ border-bottom: 1px solid #da400a; background: #fff; }

.sub-actions							{ text-align: right; padding-top: 10px; }
.sub-actions .item 						{ display: inline-block;  margin-right: 40px; }
.sub-actions .item:last-child 			{ margin-right: 0; }
.sub-actions a span 					{ display: inline-block; }
.sub-actions a .arrow 					{ margin: 0 0 1px 5px; }
.sub-actions .item:first-child > a 		{ padding-left: 16px; background: url(../img/wuns-ico.png) no-repeat left center; }
.sub-actions .item:nth-child(2) > a		{ padding-left: 12px; background: url(../img/eur-ico.png) no-repeat left center; }
.sub-actions .item:last-child > a		{ padding-left: 20px; background: url(../img/serv-ico.png) no-repeat left center; margin-right: 0; }

.elements 								{ margin-top: 10px; }
.elements .search 						{ position: relative; width: 355px; margin-left: 165px; vertical-align: top; }
.elements .search input 				{ box-sizing: border-box; width: 100%; background: #f8f8fa; box-shadow: inset 0px 0px 3px 1px #EEEDF1; border: 1px solid #cccbdb; padding: 12px; border-radius: 3px; }
.elements .search button 				{ top: 9px; right: 9px; background: url(../img/search-ico.png) no-repeat center; width: 24px; height: 23px; border: 0; position: absolute; cursor: pointer; }
.elements .search button:focus 			{ outline: none; }
.elements .logo,
.elements .search 						{ display: inline-block; margin-top: 35px; }
.elements .actions .item 				{ min-width: 45px; height: 45px; position: relative; padding: 5px 5px 0 0; display: inline-block; vertical-align: top; }
.elements .actions .btn					{ min-width: 40px; height: 40px; background: #fcfefd; border: 1px solid #dadae6; border-radius: 3px; display: block; }
.elements .actions .count				{ padding: 3px 6px; border-radius: 10px; border: 1px solid #dadae6; position: absolute; top: 0; right: 0; background: #fff; color: #d9400b; font-weight: 700; }
.elements .actions .whishes				{ background: url(../img/whish-ico.png) no-repeat center; }
.elements .actions .user				{ background: url(../img/user-ico.png) no-repeat 5px center; }
.elements .actions .cart				{ background: url(../img/cart-ico.png) no-repeat 5px center; }
.elements .actions .user .text			{ margin: 13px 10px 0 35px; }
.elements .actions .cart .text			{ margin: 13px 10px 0 40px; color: #d9400b; font-weight: 700; }

header nav.main 						{ margin-top: 10px; }
header nav.main a 						{ padding: 10px; display: block; }
header nav.main li 						{ display: inline-block; font-size: 16px; }
header nav.main .active,
header nav.main li:hover 				{ border-radius: 3px 3px 0 0; background: linear-gradient(to top, #da400c, #fb5b2b); }
header nav.main .active a,
header nav.main li:hover a 				{color: #fff; }

.arrow.down 							{ background: url(../img/arrow-down-ico.png) no-repeat center; width: 10px; height: 5px; }
.content 								{ background: #fff; margin-top: 20px; box-shadow: 0 0 5px #BDB9B9; font-size: 16px; padding-bottom: 15px; margin-bottom: 20px; }

.breadcrumbs 							{ margin: 10px auto; padding: 15px 0; }
.breadcrumbs a:hover,
.breadcrumbs .active 					{ color: #d9400b; }
.breadcrumbs li 						{ display: inline-block; padding: 0 27px 0 20px; background: url(../img/arrow-right-ico.png) no-repeat center right; }
.breadcrumbs li:first-child 			{ padding-left: 0; }
.breadcrumbs li:last-child 				{ background: none; padding-right: 0; }

.products-wr 							{ margin: 0 auto; padding: 25px 20px; box-sizing: border-box; border: 1px solid #dcdae5; border-radius: 3px; color: #3c4c59; margin-bottom: 20px; }
.products-wr .title 					{ font-weight: 700; border-bottom: 1px solid #dadae4; padding-bottom: 15px; }
.products .item 						{ vertical-align: top; width: 215px; border: 0; text-align: center; margin: 15px; display: inline-block; }
.products .title 						{ border: 0; font-weight: normal; }
.products .item a 						{ display: block; }
.products .item a:hover .title,
.products .item a:hover .info,
.products .item a:hover .price  		{ color: #d9400b; }
.products .item .info 					{ font-size: 12px; margin-top: 25px; }
.products .item .price 					{ font-weight: 700; margin-top: 15px; }


/*
 * Випадаюче ховер-меню
 */
.dropdown.currency ul 					{ width: 51px; }
.dropdown.pages ul 						{ width: 116px; }
.dropdown 								{ display: inline-block; margin-right: 10px; position: relative; }
.dropdown > a 							{ border-radius: 2px; }
.dropdown ul 							{ list-style-type: none; display: block; margin: 0; padding: 0; position: absolute; width: 100%; box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3); overflow: hidden; z-index: 1; }
.dropdown a 							{ display: block; padding: 0 0 0 10px; text-decoration: none; line-height: 40px; font-size: 13px; text-transform: uppercase; background-color: #FFF; }
.dropdown li 							{ height: 0; overflow: hidden; transition: all 500ms; text-align: left; }
.dropdown li a 							{ padding: 0 10px; }
.dropdown.hover li 						{ transition-delay: 300ms; }
.dropdown li:first-child a 				{ border-radius: 2px 2px 0 0; }
.dropdown li:last-child a 				{ border-radius: 0 0 2px 2px; }
.dropdown a:hover 						{ background-color: #EEE; }
.dropdown.hover:hover li 				{ height: 40px; }

/* 
 * Виїжджаючий попап
 */
.pushy 									{ right: 0; position: fixed; width: 380px; height: 100%; top: 0; z-index: 9999; background: #fff; font-size: 0.9em; font-weight: bold; box-shadow: inset 5px 0px 3px -4px rgba(0, 0, 0, 0.7); overflow: auto; -webkit-overflow-scrolling: touch; }
.pushy a 								{ display: block; padding: 15px 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.1); text-decoration: none; }
.pushy-right 							{ transform: translate3d(380px, 0, 0); }
.pushy-open                             { transform: translate3d(0, 0, 0); }
.container-push, .push-push             { transform: translate3d(-380px, 0, 0); }
.pushy, #container, .push               { transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }
.site-overlay                           { display: none; }
.pushy-active .site-overlay             { display: block; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9998; background-color: rgba(0, 0, 0, 0.5); animation: fade 500ms; }
.menu-btn-wrapper                       { width: 100%; }
.menu-btn                               { padding: 10px; float: right; }
.content                                { clear: both; }
.cf:before,
.cf:after                               { content: " "; display: table; }
.cf:after                               { clear: both; }
.pushy                                  { font-size: 16px; font-weight: 300; }
.pushy .head                            { background: linear-gradient(to top, #454a50, #5f7187); font-size: 18px; color: #fff; padding: 0 15px; }
.pushy .head .title                     { color: #fff; display: block; padding: 15px 0 15px 30px; background: url(../img/arrow-left-ico.png) no-repeat left center; font-weight: 300; }
.pushy .cart                            { margin: 0; width: 100%; }
.pushy .cart .image                     { text-align: center; }
.pushy table                            { margin: 0 10px; }
.pushy .cart .image img                 { max-width: 75px; max-height: 50px; }
.pushy .cart .info                      { width: 240px; }
.pushy .cart .actions                   { width: 55px; }
.pushy .cart .item                      { border-bottom:  1px solid #dadbe0; }
.pushy .cart .item .title 				{ margin-top: 5px; }
.pushy .cart .remove                    { cursor: pointer; width: 50px; height: 50px; border: 1px solid #dadbdf; background: url(../img/cross-ico.png) no-repeat center; }
.pushy .cart td                         { line-height: 20px; padding: 10px 5px; vertical-align: middle; }
.pushy .cart td:last-child              { vertical-align: top; }
.pushy .cart .qunatity,
.pushy .cart .price                     { font-weight: 700; }
.pushy .cart .qunatity,
.pushy .cart .title                     { padding-bottom: 5px; }
.pushy .amount td                       { color: #ad8e0f; padding: 5px 0; }
.pushy .total                           { font-weight: 700; }
.pushy .total td                        { color: #3f4b57; }
.pushy .amount tr td:first-child        { width: 300px; }
.pushy .amount tr td:last-child         { width: 70px; text-align: right; }
.pushy .p-ico                           { width: 30px; height: 30px; background: url(../img/p-ico.png) no-repeat center;  }
.pushy .value,
.pushy .p-ico                           { display: inline-block; }
.pushy .with-icon .value                { vertical-align: top; padding: 8px 3px 0 0; }
.pushy tr .green                        { color: #29ce6f; }
.pushy tr .red                          { color: #f24837; }
.pushy .kasse,
.pushy .warenkorb                       { text-align: center; width: 80%; display: block; margin: 10px auto 0; font-weight: 700; border-radius: 3px; }
.pushy .kasse                           { background: linear-gradient(to top, #da400c, #fb5b2b); color: #fff; }
.pushy .warenkorb                       { border: 1px solid #dbdae2; }
.pushy .warenkorb:hover                 { background: linear-gradient(to top, #da400c, #fb5b2b); color: #fff; }
.pushy .quantity-edit .dec,
.pushy .quantity-edit .inc 				{ display: inline-block; font-size: 22px; cursor: pointer; vertical-align: top; border: 1px solid #dadbdf; border-radius: 3px; padding: 3px 5px; }
.pushy .quantity-edit .inc 				{ vertical-align: middle; margin-left: 5px; }
.pushy .quantity,
.pushy .quantity-edit 					{ display: inline-block; }
.pushy .quantity-edit 					{ margin-left: 10px; }